.content .header{
	width         : 90%;

	text-align    : left;
	border-bottom : 3px double white;
}

.items{
	display        : flex;

	height         : 100%;
	width          : 40%;
	margin         : auto;

	white-space    : nowrap;

	flex-direction : column;
	align-items    : center;
}

.contactItem{
	margin          : 15px;

	color           : inherit;
	text-align      : center;
	text-decoration : none;
}

.contactItem .icon{
	display      : inline-block;

	margin-right : 5px;

	text-align   : center;
}

.contactItem .label{
	display    : inline-block;

	min-width  : 385px;

	text-align : left;
}