
.content .header{
	width         : 90%;

	text-align    : left;
	border-bottom : 3px double white;
}

.items{
	display        : flex;

	height         : 100%;
	width          : 40%;
	margin         : auto;

	white-space    : nowrap;

	flex-direction : column;
}

.contactItem{
	width           : 100%;
	margin          : 15px;

	color           : inherit;
	text-align      : center;
	text-decoration : none;
	display: flex;
	flex-direction:	row;
}

.contactItem .icon{
	display      : inline-block;

	margin-right : 5px;

	text-align   : center;
	min-width:	40px;
	margin-right:15px;
}

.contactItem .label{
	display    : inline-block;

	min-width  : 385px;

	text-align : left;

	flex       : 1;
}

/*small screen modifications*/
@media screen and (max-width: 1025px) and (min-width: 651px) {
	.content{
		font-size : 18pt;
	}
}

/*mobile modifications*/
@media screen and (max-width: 650px) {
	.content{
		font-size : 11pt;
		    padding: 50px 5px 15px 5px;
		    width: calc(100% - 10px);
		    flex: none;
	}

	.content .items{
		width : 80%;
		margin:0;
	}

	.navmenu{
		width            : 60%;

		background-color : black;
		font-family      : 'Lato', sans-serif;

		flex             : 0;
	}
}