.container{
	display:	flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:	100%;
	text-align:	center;
	position:	relative;
}

.container .infodiv{
	width:	80%;
	max-width:	825px;
}

.infodiv div{
	margin-bottom:	15px;
}

