
html, body, div, p{
	margin  : 0;
	padding : 0;
}

html, body, #page{
	height : 100%;
	overflow: hidden;
	position: relative;
}

body{
	display        : flex;
	background     : linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%), url(../img/escheresque_ste.png);
	flex-direction : row;
	position:		relative;
}

#menuToggle{
	height:			auto;
	padding:		5px;
	color:			white;
	transition:		color 0.5s, background-color 0.5s;
	font-size:		20pt;
	position:		absolute;
	top:			0;
	left:			0;
	z-index:		1001;
}

#menuToggle:hover{
	cursor:			pointer;
	cursor:			hand;
	color:			teal;
	background-color:	rgba(150,150,150,0.4);
}

.navmenu{
	height           : 100%;

	background-color : black;
	font-family      : 'Lato', sans-serif;

	flex             : 1;
	opacity:		1;
	transition:		all ease-in-out 0.5s;
	min-width:		200px;
}

.navmenu.ng-hide{
	width:			0;
	opacity:		0;
	margin-left:	-200px;
}

.navmenu.ng-hide-add, .navmenu.ng-hide-remove{
	display:	block !important;
}

.navmenu .head{
	display:		flex;
	flex-direction:	column;
	justify-content: center;
	align-items: center;
	color:			white;
	margin-bottom:	5px;
	padding-bottom:	5px;
	border-bottom:	3px double white;
	text-align:		center;
	margin-top:		10px;
}

.navmenu .head img{
	max-width:50%;
	max-height:50%;
	border-radius:	50px;
}

.navmenu .header{
	font-size:		11pt;
	font-variant:  	small-caps;
}

.navmenu .subhead{
	font-size:  	10pt;
	font-variant:  	small-caps;
}

.navmenu .item{
	display         : flex;

	padding         : 5px;

	color           : white;

	flex-direction  : row;
	align-content   : center;
	justify-content : center;
}

.navmenu .item:hover{
	cursor           : hand;
	cursor           : pointer;
	background-color : rgba(255,255,255,0.4);
}

.navmenu .item .label{
	font-variant : small-caps;
	text-align   : center;

	flex         : 1;
}

.content{
	padding     : 	50px 15px 15px 15px;

	font-family : 'Roboto', sans-serif;
	color       : white;

	flex        : 9;
}