
html, body, div, p{
	margin  : 0;
	padding : 0;
}

html, body{
	height : 100%;
}

body{
	display        : flex;
	background     : linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%), url(../img/escheresque_ste.png);
	flex-direction : row;
}

.navmenu{
	height           : 100%;

	background-color : black;
	font-family      : 'Lato', sans-serif;

	flex             : 1;
}

.navmenu .item{
	display         : flex;

	padding         : 5px;

	color           : white;

	flex-direction  : row;
	align-content   : center;
	justify-content : center;
}

.navmenu .item:hover{
	cursor           : hand;
	cursor           : pointer;
	background-color : rgba(255,255,255,0.4);
}

.navmenu .item .label{
	font-variant : small-caps;
	text-align   : center;

	flex         : 1;
}

.content{
	padding     : 5px;

	font-family : 'Roboto', sans-serif;
	color       : white;

	flex        : 9;
}